.button{
    border: none;
    background-color: white;

    position: relative;
    top: 0;
    transition: top 0.3s

}

.button:hover {
    top: -10px;
}
.button:active {
    transform: translateY(4px);
}